
/* Large devices (laptops/desktops, 992px and up) */

 @media only screen and (max-width:950px){
    
    .product-details{
        grid-template-columns: 1fr 1fr;
 
 
             }
    .box-container{
        grid-template-columns: repeat(2, 1fr);
        padding:0 50px;
    }
}


/* Medium devices (landscape tablets, 800px and up) */
@media only screen and (max-width:800px){
    .banner{
        grid-template-columns: 1fr;
        height: fit-content;
    }
    .banner-right img{
        width: 70%;
    }
    .banner-left{
        order: 1;
        padding:50px 0px;
    }
    .product-details{
        grid-template-columns: repeat(2, 1fr);
    }


    .box-container{
        grid-template-columns: repeat(2, 1fr);
        padding:0px 80px;
    }
} 
 



/* * Extra small devices (phones, 672px and down) */ 
@media only screen and (max-width:672px){

    .product-details{
       grid-template-columns: 1fr;
      
            }
            .img-section{
                min-height: 200px;
            }
            .product-info{
                padding:10px 0px;
                margin:10px 0px;
                
            }
            .product-info h3{
                font-size: 60px;
                margin:10px 0px;
               
            }
            .product-info h3{
                font-size: 50px;
                font-weight: bolder;
                margin:10px 0px;
               
            }
            .product-info p{
                font-size: 30px;
                margin:10px 0px;
               

            }
            .icon-star{
                font-size: 30px;
            }
            


            .box-container{
                grid-template-columns:1fr;
             
            }




} 